<app-section-layout sectionTitle="Acerca de Stark Electric">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2 class="text-center text-uppercase">
                stark electric s.a.s
            </h2>
            <p class="text-center text-uppercase">poder y eficacia juntos</p>
            <p>Somos una <strong>empresa colombiana</strong> enfocada en brindar servicios de clase mundial, queriendo ser reconocidas
                como el número uno en cada una de nuestras líneas de negocio. A través del uso de <strong>estándares de calidad</strong>,
                adquiriendo un compromiso con cada uno de nuestros clientes, para lograr ser un aliado estratégico.</p>

            <article class="d-flex flex-wrap features-element">      
                <p>Ofrecemos servicio las 24h del día, 7 días de la semana, 365 días del año</p>
                <p>Servicio en todo el país</p>
            </article>
        </div>
    </div>
</app-section-layout>