<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/stark_logo.png" alt="" width="150rem">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">inicio</a>
          <div class="navlink-underline"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acerca de</a>
          <div class="navlink-underline"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="dropdown">servicios</a>
          <div class="dropdown">
            <ul class="dropdown-menu p-0 border-0">
              <li><a class="dropdown-item px-2 py-1" href="#">Action</a></li>
              <li><a class="dropdown-item px-2 py-1" href="#">Another action</a></li>
              <li><a class="dropdown-item px-2 py-1" href="#">Something else here</a></li>
              <li><a class="dropdown-item px-2 py-1" href="#">Action</a></li>
              <li><a class="dropdown-item px-2 py-1" href="#">Another action</a></li>
              <li><a class="dropdown-item px-2 py-1" href="#">Something else here</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">contacto</a>
          <div class="navlink-underline"></div>
        </li>
      </ul>
    </div>
  </div>
</nav>