.col-8 {
    p {
        font-size: var(--p-mobile);
    }
}

h3 {
    margin: 0 0 .5rem;
}

a {
    text-decoration: none;
    color: initial;
    display: block;

    article {
        max-height: 8rem;
        height: 8rem;
    }

}