<app-section-layout sectionTitle="qué ofrecemos">

    <div class="row w-100  justify-content-center">

        @defer (on viewport ){
        <div class="col-lg-4 col-md-4 col-sm-12 service-container d-flex flex-column justify-content-between">
            @for (item of getFromStart(); track item.title;){
            <article class="row slide-in-left" (mouseenter)="colorImage(item)" (mouseleave)="removeColorImage(item)">
                <picture class="col-4 d-flex justify-content-center">
                    <img [src]="[item.isMouseOver ? item.imgFilled :  item.image]" [alt]="item.alt" class="w-100">
                </picture>
                <a href="" class="col-8 d-flex flex-column justify-content-center">
                    <h4>{{item.title}}</h4>
                    <p class="m-0">{{item.descript}}</p>
                </a>
            </article>
            }
        </div>
        <!---->
        <div class="col-lg-4 col-md-4 col-sm-12">
            <picture class="d-flex justify-content-center align-items-center h-100">
                <img [src]="routeSelectedImage" alt="" class="w-75 scale-in-center">
            </picture>
        </div>
        <!---->
        <div class="col-lg-4 col-md-4 col-sm-12 service-container d-flex flex-column justify-content-between">
            @for (item of getFromMiddle(); track item.title;){
            <article class="row slide-in-right" (mouseenter)="colorImage(item)" (mouseleave)="removeColorImage(item)">
                <picture class="col-4 d-flex justify-content-center">
                    <img [src]="[item.isMouseOver ? item.imgFilled :  item.image]" [alt]="item.alt" class="w-100">
                </picture>
                <a href="" class="col-8 d-flex flex-column justify-content-center">
                    <h4>{{item.title}}</h4>
                    <p class="m-0">{{item.descript}}</p>
                </a>
            </article>
            }
        </div>
        }@placeholder {
        <div></div>
        }



    </div>

</app-section-layout>